/* Copy and paste any or all of these css entries into your custom.css file inside your
 * css folder. The functions are annotated to make things as easy as possible for you.
 * Use any colors you want! Go to - "http://htmlcolorcodes.com/color-picker/"
 * Pick your color, copy and paste the HEX number. Example - #62FF00 = bright green.
 */

/* @import url('https://fonts.googleapis.com/css?family=Muli:600'); */

@import url('https://fonts.googleapis.com/css?family=Modern+Antiqua');

.MMM-BMW-OW .header {
	color: yellow; /* Header color. */
}
.MMM-BMW-OW .image {
	/* icon size */
	width: 3.75%;
	height: 3.75%;
}

.MMM-BMW-OW .current {
	color: #ffffff; /* text forecast color. Default is white. */
	font-family: Modern Antiqua, cursive;
	/*  font-size: .6em; */
	display: flex; /*Center and align contect to fit on various displays*/
	justify-content: center;
	align-items: center;
}

.MMM-BMW-OW .daily {
	color: #ffffff; /* days of the week color. Default is white. */
	font-family: Modern Antiqua, cursive;
	/*  font-size: .6em; */
	display: flex; /*Center and align contect to fit on various displays*/
	justify-content: center;
	align-items: center;
}
